{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }} you are an Admin you can also add,delete,edit a movie!!</h1>
    <button onclick = "add_movie()">Add</button>
    <button onclick = "edit_movie()">Edit</button>
    <button onclick = "del_movie()">Delete</button>
    <hr>
    <div >
        <label for="search" >Search by Movie name:</label>
        <input type="text" name="search" id="search"><br><br>
        <button onclick = "search_movie()">Search</button>
    </div>
    <hr>
    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Director</th>
        <th>Popularity</th>
        <th>Genre</th>
        <th>Added by</th>
      </tr>
      {%for m in movies %}
      <tr>
        <td>{{m['name']}}</td>
        <td>{{m['imdb_score']}}</td>
        <td>{{m['director']}}</td>
        <td>{{m['99popularity']}}</td>
        <td>{{m['genre']}}</td>
        <td>{{m['author']}}</td>

      </tr>
      {% endfor %}

    </table>
{% endblock %}