{% extends "base.html" %}

{% block content %}
    <h2>Hi, User!! you can browse and search for movies!!</h2>
    <hr>
    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>director</th>
        <th>popularity</th>
        <th>genre</th>
      </tr>
      {%for m in movies %}
      <tr>
        <td>{{m['name']}}</td>
        <td>{{m['imdb_score']}}</td>
        <td>{{m['director']}}</td>
        <td>{{m['99popularity']}}</td>
        <td>{{m['genre']}}</td>

      </tr>
      {% endfor %}

    </table>
{% endblock %}